<!DOCTYPE html>
<html>
  <head>
    <title>Tabela dos Piá</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/plug-ins/1.10.25/features/searchHighlight/dataTables.searchHighlight.css">
  </head>
  <body>
    <div class="container">
      <h4>Tabela de Jogadores</h4>
      <table id="tabela-jogadores" class="table table-striped table-bordered" data-filter="true">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Clube</th>
            <th>Posição</th>
            <th>Status</th>
            <th>Pts_UR</th>
            <th>Preço</th>
            <th>Min_Val</th>
            <th>Média</th>
            <th>Prox_Jogo</th>
            <th>Qts_escalaram</th>
            <th>Fórmula</th>
          </tr>
        </thead>
        <tbody>
          {% for jogador in dados %}
          <tr>
            <td>{{ jogador['nome'] }}</td>
            {% if jogador['clube'] == 'América-MG' %}
              <td><img src="{{ url_for('static', filename='images/América-MG.png') }}" alt="América-MG"></td>
            {% elif jogador['clube'] == 'Athletico-PR' %}
              <td><img src="{{ url_for('static', filename='images/Athletico-PR.png') }}" alt="Athletico-PR"></td>
            {% elif jogador['clube'] == 'Atlético-MG' %}
              <td><img src="{{ url_for('static', filename='images/Atlético-MG.png') }}" alt="Atlético-MG"></td>
            {% elif jogador['clube'] == 'Bahia' %}
              <td><img src="{{ url_for('static', filename='images/Bahia.png') }}" alt="Bahia"></td>
            {% elif jogador['clube'] == 'Botafogo' %}
              <td><img src="{{ url_for('static', filename='images/Botafogo.png') }}" alt="Botafogo"></td>
            {% elif jogador['clube'] == 'Bragantino' %}
              <td><img src="{{ url_for('static', filename='images/Bragantino.png') }}" alt="Bragantino"></td>
            {% elif jogador['clube'] == 'Corinthians' %}
              <td><img src="{{ url_for('static', filename='images/Corinthians.png') }}" alt="Corinthians"></td>
            {% elif jogador['clube'] == 'Coritiba' %}
              <td><img src="{{ url_for('static', filename='images/Coritiba.png') }}" alt="Coritiba"></td>
            {% elif jogador['clube'] == 'Cruzeiro' %}
              <td><img src="{{ url_for('static', filename='images/Cruzeiro.png') }}" alt="Cruzeiro"></td>  
            {% elif jogador['clube'] == 'Cuiabá' %}
              <td><img src="{{ url_for('static', filename='images/Cuiabá.png') }}" alt="Cuiabá"></td> 
            {% elif jogador['clube'] == 'Flamengo' %}
              <td><img src="{{ url_for('static', filename='images/Flamengo.png') }}" alt="Flamengo"></td> 
            {% elif jogador['clube'] == 'Fluminense' %}
              <td><img src="{{ url_for('static', filename='images/Fluminense.png') }}" alt="Fluminense"></td> 
            {% elif jogador['clube'] == 'Fortaleza' %}
              <td><img src="{{ url_for('static', filename='images/Fortaleza.png') }}" alt="Fortaleza"></td>
            {% elif jogador['clube'] == 'Goiás' %}
              <td><img src="{{ url_for('static', filename='images/Goiás.png') }}" alt="Goiás"></td>
            {% elif jogador['clube'] == 'Grêmio' %}
              <td><img src="{{ url_for('static', filename='images/Grêmio.png') }}" alt="Grêmio"></td>
            {% elif jogador['clube'] == 'Internacional' %}
              <td><img src="{{ url_for('static', filename='images/Internacional.png') }}" alt="Internacional"></td>
            {% elif jogador['clube'] == 'Palmeiras' %}
              <td><img src="{{ url_for('static', filename='images/Palmeiras.png') }}" alt="Palmeiras"></td>
            {% elif jogador['clube'] == 'Santos' %}
              <td><img src="{{ url_for('static', filename='images/Santos.png') }}" alt="Santos"></td>
            {% elif jogador['clube'] == 'São Paulo' %}
              <td><img src="{{ url_for('static', filename='images/São Paulo.png') }}" alt="São Paulo"></td>
            {% elif jogador['clube'] == 'Vasco' %}
              <td><img src="{{ url_for('static', filename='images/Vasco.png') }}" alt="Vasco"></td>
            {% endif %}
            <td>{{ jogador['posicao'] }}</td>
            <td>{{ jogador['status'] }}</td>
            <td>{{ jogador['pontos_ultima_rodada'] }}</td>
            <td>{{ jogador['preco'] }}</td>
            <td>{{ jogador['minimo_para_valorizar'] }}</td>
            <td>{{ jogador['media'] }}</td>
            <td>{{ jogador['proximo_jogo'] }}</td>
            <td>{{ jogador['qts_escalaram'] }}</td>
            <td>{{ jogador['formula'] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- Scripts que transformam a tabela -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>
      $(document).ready(function() {
        var tabela = $('#tabela-jogadores').DataTable({
        });
      });
    </script>
  </body>
</html>
